/* Theme */

body.dark {
	--body-bg: url("./BackgroundAmbient_PoE_Crucible.png");
	--nav-bg: #000;
	
	--section-bg: #111C;
	--section-higlight: #000;

	--text-color: #eee;
	--text-shadow: -0.1em 0.1em 0.07em #0004, 0em 0em 0.2em #d833, 0em -0.3em 0.6em #fff3;
	--text-shadow-hover: -0.1em 0.1em 0.07em #000a, 0em 0em 0.2em #d839, 0em -0.3em 0.6em #fff3;
	--text-background: -webkit-linear-gradient(#fc6 5%, #b80);
	--box-shadow: 0.1em 0.1em 0.5em 0.1em #0003 inset;

	--tree-connector: #999;
	--tree-node-small: #fff;
	--tree-node-medium: #fff;
	--tree-node-large: #990;
	--tree-node-str: #966;
	--tree-node-int: #669;
	--tree-node-dex: #696;
	--tree-node-path: #6ff;
	--tree-radiant-background: conic-gradient(#11111A, #111a11 120deg, #1a1111 240deg, #11111a);
	
	--select-border: #777;
	--select-focus: #b80;
	
	--display-dark: block;
	--display-light: none;
}

body.light {
	--body-bg: url("./BackgroundAmbient_PoE_Crucible.png");
	--nav-bg: #0c343d;
	
	--section-bg: #efefefcc;
	--section-higlight: #aaa;
	
	--text-color: #000;
	--text-shadow: -0.02em 0.01em 0.07em #0c343d30, 0.01em 0.01em 0.06em #fff6;
	--text-shadow-hover: 0em 0em 0.05em #fff, -0.1em 0.01em 0.1em #6aaf;
	--text-background: -webkit-linear-gradient(#2aa 5%, #022);
	--box-shadow: 0.1em 0.1em 0.5em 0.1em #0003 inset;
	
	--tree-connector: #000;
	--tree-node-small: #222;
	--tree-node-medium: #f00;
	--tree-node-large: #f00;
	--tree-node-str: #f00;
	--tree-node-int: #00f;
	--tree-node-dex: #0f0;
	--tree-node-path: #6ff;
	--tree-radiant-background: conic-gradient(#dddde9, #dde9dd 120deg, #e9dddd 240deg, #dddde9);
	
	--select-border: #777;
	--select-focus: #b80;
	
	--display-dark: none;
	--display-light: block;
}

/* Main structure */

* {
  box-sizing: border-box;
  outline: 0;
}
body {
	background-image: var(--body-bg);
	color: var(--text-color);
	transition: background 0.2s linear;
}
h1 {
	text-align: center;
	font-size: 2.5rem;
}
h2 {
	padding-left: 1rem;
}
h1, h2 {
	text-transform: uppercase;
	letter-spacing: .09375rem;
	font-family: serif;
	text-shadow: var(--text-shadow);
	background: var(--text-background);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.page {
	display: none;
	margin-top: 4rem;
}
.section {
	margin: 2rem;
	padding: 2rem;
	background: var(--section-bg);
	display: flex;    
	border-radius: 5em;
}
.filling {
}
.hideOnLight {
	display: var(--display-dark);
}
.hideOnDark {
	display: var(--display-light);
}
.lang {
	opacity: 0.6;
}
.selectedLang {
	opacity: 1;
}

/* Specific part of display */

.socketGroup {
	background: var(--section-higlight);
	border-radius: 1.5em;
    padding: 1em;
    margin: 1em;
}

.socketGroup .socketGem {
	display: inline-block;
}

.socketColourGroup {
	display: block;
}

.socketColour {
	display: inline-block;
	width: 35px;
    height: 35px;
}

.socketColourGreen {
	background: url(./socket.png) no-repeat;
    background-position: -105px -70px;
}

.socketColourBlue {
	background: url(./socket.png) no-repeat;
    background-position: -35px -70px;
}

.socketColourRed {
	background: url(./socket.png) no-repeat;
    background-position: -70px -105px;
}

.socketColourWhite {
	background: url(./socket.png) no-repeat;
    background-position: -140px -35px;
}

#ascendancyDiv > div, #keystoneDiv > div, #pathwayDiv > div{
	display: inline-block;
}
#pathwayDiv .noLabel .poe-icon-label {
	display: none;
}

.inventory {
	display: grid;
	gap: 0.5em;
	grid-template-columns: 6em 6em 6em 6em 6em 6em 6em 6em;
	grid-template-rows: 6em 6em 6em 6em 6em 6em 6em 6em;
	justify-content: center;
	width: 100%;
}
.inventory > div:not(.flask), .flask > div {
	background-color: var(--section-higlight);  
	border-radius: 1.5em;
	text-align: center;
	padding: 0em;
	vertical-align: middle;
}
.inventory #mainHand {
  grid-area: 1 / 1 / 5 / 3;
}
.inventory #offHand {
  grid-area: 1 / 7 / 5 / 9;
}
.inventory #chest {
  grid-area: 3 / 4 / 6 / 6;
}
.inventory #helm {
  grid-area: 1 / 4 / 3 / 6;
}
.inventory #gloves {
  grid-area: 5 / 2 / 7 / 4;
}
.inventory #boots {
  grid-area: 5 / 6 / 7 / 8;
}
.inventory #amulet {
  grid-area: 1 / 6 / 2 / 7;
}
.inventory #leftRing {
  grid-area: 4 / 3 / 5 / 4;
}
.inventory #rightRing {
  grid-area: 4 / 6 / 5 / 7;
}
.inventory #belt {
  grid-area: 6 / 4 / 7 / 6;
}
.inventory .flask {
	display: grid;
	gap: 0.5em;
	justify-content: center;
	grid-template-columns: 5em 5em 5em 5em 5em;
	grid-template-rows: 5em 5em;
	grid-area: 7 / 2 / 9 / 8;
}
.flask #flask1 {
  grid-area: 1 / 1 / 3 / 2;
}
.flask #flask2 {
  grid-area: 1 / 2 / 3 / 3;
}
.flask #flask3 {
  grid-area: 1 / 3 / 3 / 4;
}
.flask #flask4 {
  grid-area: 1 / 4 / 3 / 5;
}
.flask #flask5 {
  grid-area: 1 / 5 / 3 / 6;
}

/* Loader */
.loader {
  position: absolute;
  top: 40vh; 
  left: 50vw;
  margin-left:-60px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Make drop-down menu */

.navigation_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-bg);
  display: flex;
  padding: 0.5rem;
}
.navigation_home {
  min-width: 40%;
}
.navigation_menu {
  text-align: right;
  margin-right: 2rem;
  width: 60%
}
nav {
  display: inline-block;
}
ul {
  margin: 0;
  display: inline-block;
}
ul > li {
  list-style: none;
  position: relative;
  display: inline-block;
}
li > button, li > a{
  font-size: 1em;
	text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  display: block;

	text-shadow: var(--text-shadow);
	background: var(--text-background);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
li > button:hover {
	text-shadow: var(--text-shadow-hover);
	background: var(--text-background);
  transition: all 0.4s ease-in-out;
}
li > .lefSide {
	
}
.dropmenu {
  height: 0;
  right: 0;
  overflow: hidden;
  left: auto;
  position: absolute;
  text-align: left;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 0.2em 0.2em;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#menu_config:hover .dropmenu {
  height: 2em;
  transition: height ease 0.4s;
}
#menu_config button{
  font-size: 1em;
	text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
	min-width: 2em;
}
#menu_test:hover .dropmenu {
  height: 2em; /* should be 2em per item */
  transition: height ease 0.4s;
}
.dropmenu > li {
  display: list-item;
  background: var(--nav-bg);
  height: 2em;
}
.li:hover > .dropmenu {
  display: block;
}
.dropmenu button, .dropmenu ul, .dropmenu li {
  min-width: 10em;
}
.arrow {
	color: var(--text-color);
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}
ul li:hover > button > .arrow {
  transform: rotate(-225deg);
  margin-top: 4px;
}

.toc {
	background: var(--nav-bg);
	position: fixed;
	top: 30vh;
	display: block;
	float: left;
	height: 140px;
	align-items: center;
}
.toc > a {
	display: block;
	width: 35px;
    height: 35px;
}
#toc_notes {
	background: url(./favicon.ico) no-repeat;
}
#toc_gem {
	background: url(./socket.png) no-repeat;
    background-position: -70px -35px;
}
#toc_tree {
	background: url(./socket.png) no-repeat;
    background-position: -105px -140px;
}
#toc_item {
	background: url(./socket.png) no-repeat;
    background-position: -140px -140px;
}
/* Custom select */

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  color: var(--text-color);
}

.select {
  display: grid;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1em;
}

/* Passive tree */

.skillTree {
	background-image: var(--tree-radiant-background);
	border-radius: 25%;
}
